# ignore .vscode
.vscode/

# pycache folder
__pycache__/
*.pyc

# environment folder
env/

# model weights
yolov3.weights
*.pt

# input images folder
input_images/

# dataset related files
dataset/
ONNX_model/

# ignore notes folder
notes/

# official repo clone
YOLOv10/yolov10/

# ignore output images
*.jpg